<a href="https://colab.research.google.com/github/zaidwaqi/starter-airflow/blob/master/IBM_Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests

In [5]:
df = pd.read_excel(f'http://www.mot.gov.my/SiteCollectionImages/dataterbuka2/Sektorrel/senarai-stesen-keretapi-tanah-melayu-berhad-ktmb-mengikut-wilayah.xls',
  skiprows=3).dropna(axis=1, how='all').dropna(axis=0, how='all')

In [6]:
df.head()

   BIL  ...         TELEFON
0  1.0  ...  Tiada Maklumat
1  2.0  ...      04-7314045
2  3.0  ...      04-7305578
3  4.0  ...  Tiada Maklumat
4  5.0  ...      04-9861225

[5 rows x 9 columns]